.backrground_image {
  margin-top: 70px;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

hr {
  background: #1c1c1c;
  height: 4px;
  border: none;
  border-radius: 100px;
}

.active_ball {
  background: #ffd949;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  margin-top: -20px;
  margin-left: 0;
}
.inactive_ball {
  background: #000000;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  margin-top: -20px;
  cursor: pointer;
}
.small_ball {
  background: #000000;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  margin-top: -16px;
}
.year {
  margin-top: -10px;
  font-size: 12px;
}
